@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div style="float:right;"><a data-toggle="modal" href="/Admin/Category/Add" data-target="#categoryModal" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Category</a></div>
    <h1><i class="fa fa-database"></i> Categories</h1>
</div>

<div id="categoryModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
