@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@model MRU.Web.Models.Category.Admin.CategoryViewModel 
   
        <div class="page-header">
            <div style="float:right;"><a data-toggle="modal" href="/Admin/Category/Add" data-target="#categoryModal" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Parent Category</a></div>
            <h1><i class="fa fa-database red"></i> Categories</h1>
        </div>

        @Html.Partial("_Grid", Model.CategoryGridModel)

   
        <div id="categoryModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>
